:root {
    --ff-primary: "Red Hat Display", sans-serif;

    --fs-100: 1rem;
    --fs-200: 2rem;
    --fs-300: 3rem;

    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;

    --clr-primary-100: hsl(0, 0%, 100%);
    --clr-primary-700: hsl(242, 100%, 16%);

    --clr-neutral-100: hsl(225, 100%, 98%);
    --clr-neutral-600: hsl(224, 23%, 55%);
    --clr-neutral-900: hsl(61, 60%, 51%);

}

/* reset */
*,
*::before,
*::after {
    box-sizing:border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
    background-image: url(../images/pattern-background-mobile.svg);
    font-family: var(--ff-primary);
    font-size: var(--fs-100);
}

@media(min-width:40rem) {
    body {
        background-image: url(../images/pattern-background-desktop.svg);
    }
}

/* utility classes */
.flow-content > * + * {
    margin-top:var(--flow-spacer, 1rem);
}

.split {
    display: flex;
    flex-direction: column;
}

.plan-flex {
    --flow-spacer:2.5rem;
    display: flex;
    padding: o.5rem 0.2rem;
    gap: 0.5rem;
}

.plan-flex a {
    margin-left: 1.2rem; 
    font-size: 0.8rem;
    font-weight: var(--fw-500);
}


@media(min-width:40rem) {
    .plan-flex {
    gap: 1rem;
    padding: 1.5rem 1rem;
  }

  .plan-flex a {
    margin-left: 3.5rem;
  }
}


.bg-dark {
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-100);
}

/* typography */
h2 {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-900);
}

.h2 {
    font-size: var(--fs-100);
}

p {
    color: var(--clr-neutral-600);
}



.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 1rem;
}

@media(min-width:40rem){
    .article {
        max-width: 25rem;
        margin: 0 auto;
   }
}

.card-img {
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 2rem 2rem;
    background-color: var(--clr-neutral-100);
    border-radius: 0 0 1rem 1rem;
}

@media(min-width:40rem) {
    .container {
       padding: 3rem 2rem;
    }
}

.btn {
    font-weight: var(--fw-700);
    padding: 1rem 2rem;
    border-style: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: var(--clr-primary-100) 0 0.5rem 0.5rem 0.5rem;
}

@media(min-width:40rem) {
    .btn {
        padding: 0.75rem 4.5rem;
    }
}

.btn:hover,
.btn:focus {
    background-color: var(--clr-neutral-900);
}

a:hover,
a:focus {
    color: var(--clr-primary-700);
    text-decoration: none;
}

.cancel {
    text-decoration: none;
    color: var(--clr-neutral-600);
    font-weight: var(--fw-700);
}


